html,body{
  height: 100%;
  background-color: #FFE4C4;

}

.home {  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  gap: 80px;
  justify-content: center;
  margin: auto;

  
}

.home1{
  background-color: #FFE4C4;
}